name: Generate artifact from ThreatModel JSON

on:
  push:
    branches: [ main ]
    paths:
      - '**.json'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
